.task-details-container {
  display: flex;
  margin: 5px 0;

  .para-dot {
    flex: 1;
    height: 100%;
    position: relative;

    span {
      position: absolute;
      transform: translateY(6px);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #000;
    }
  }

  .text-details {
    flex: 35;
    text-align: justify;
  }
}