main {
  width: 850px;
  // height: 1100px;

  // background-color: pink;
  @media screen and (min-width: 851px) {
    margin: 30px auto;
  }

  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .4);

  padding: 30px 40px;
  // padding-top: 30px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}