.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 26px;
  }

  &>a{
    font-size: 15px;
  }

  .contact-info {
    display: flex;
    font-size: small;
    gap: 20px;
    margin-top: 4px;

    a{
      display: flex;
      align-items: center;
      gap: 5px;
      color: black;
      
      .profile-icon {
        color: black;
        font-size: 20px;
        cursor: pointer;
      }

      span {
        border-bottom: solid gray 1px;
      }
    }
  }
}







