.eduexp-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px 0;
  .institute-info {
    display: flex;
    align-items: baseline;
    gap: 5px;

    span:nth-of-type(2) {
      font-style: italic;
    }
  }

  div:nth-child(2) {
    font-style: italic;
  }
}